In [ ]:
!pip install selenium

In [169]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

**Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:**

**first get the webpage https://www.naukri.com/ Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field. Then click the search button. Then scrape the data for the first 10 jobs results you get. Finally create a dataframe of the scraped data.**

In [161]:

driver=webdriver.Edge(r"D:\Greeshma\OneDrive - Infosys Limited\Desktop\msedgedriver.exe")
time.sleep(3)

#opening the website on automated browser page
url = "https://www.naukri.com/"
driver.get(url)

#entring desingnation and location as per question
desingnation=driver.find_element(By.CLASS_NAME,"suggestor-input")
desingnation.send_keys('Data Analyst')

#Entering Data into Search Bars :-
location=driver.find_element(By.XPATH,"//input[@class='suggestor-input 'and @placeholder='Enter location']")
location.send_keys("Bangalore")

#Clicking the search button:-
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

#Creating empty lists for scraping data and use the scraped data to make DataFrame:-
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#Scraping the job-titles:-
title=driver.find_elements(By.XPATH,"//a[@Class='title ellipsis']")
for i in title[0:10]:
    title=i.text
    job_title.append(title)
time.sleep(3)

#scraping the Location:-
location=driver.find_elements(By.XPATH,"//li[@Class='fleft br2 placeHolderLi location']//span[1]")
for i in location[0:10]:
    location=i.text
    job_location.append(location)
time.sleep(3)

#scraping the company_name:-
company=driver.find_elements(By.XPATH, '//a[@Class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    company=i.text
    company_name.append(company)
time.sleep(3)


#scraping the experience_required:-
experience=driver.find_elements(By.XPATH,'//li[@Class="fleft br2 placeHolderLi experience"]/span[1]')
for i in experience[0:10]:
    experience=i.text
    experience_required.append(experience)
time.sleep(3)


# creating the dataframe from the scraped data and taking only first 10 jobs:-
JOB=pd.DataFrame({"job_title":job_title,"job_location":job_location,"company_name":company_name,"experience_required":experience_required})
JOB

,job_title,job_location,company_name,experience_required
0,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
1,Tech Data Analyst,"Hybrid - Bangalore/ Bengaluru, Karnataka, Gurg...",Wipro,3-6 Yrs
2,Data Analyst,"Bangalore/ Bengaluru, Karnataka",Artech,5-8 Yrs
3,Data Analyst,Bangalore/Bengaluru,Brunel,4-6 Yrs
4,Celonis & Salesforce Data Analyst,"Bangalore/Bengaluru, Chennai",Hitachi Energy,3-6 Yrs
5,Celonis & Salesforce Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,2-7 Yrs
6,Data Analyst,Hybrid - Bangalore/Bengaluru,HARMAN,3-5 Yrs
7,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
8,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tata Consultancy Services (TCS),5-10 Yrs

**Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data. This task will be done in following steps:**

**first get the webpage https://www.naukri.com/ Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field. 3. Then click the search button. 4. Then scrape the data for the first 10 jobs results you get. 5. Finally create a dataframe of the scraped data.**

In [160]:
driver=webdriver.Edge(r"D:\Greeshma\OneDrive - Infosys Limited\Desktop\msedgedriver.exe")
time.sleep(3)
#opening the website on automated browser page
url = "https://www.naukri.com/"
driver.get(url)

#entring desingnation and location as per question
desingnation=driver.find_element(By.CLASS_NAME,"suggestor-input")
desingnation.send_keys('Data Scientist')

#Entering Data into Search Bars :-
location=driver.find_element(By.XPATH,"//input[@class='suggestor-input 'and @placeholder='Enter location']")
location.send_keys("Bangalore")

#Clicking the search button:-
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

#Creating empty lists for scraping data and use the scraped data to make DataFrame:-
job_title=[]
job_location=[]
company_name=[]
job_description=[]


#Scraping the job-titles:-
title=driver.find_elements(By.XPATH,"//a[@Class='title ellipsis']")
for i in title[0:10]:
    title=i.text
    job_title.append(title)
time.sleep(3)

#scraping the Location:-
location=driver.find_elements(By.XPATH,"//li[@Class='fleft br2 placeHolderLi location']//span[1]")
for i in location[0:10]:
    location=i.text
    job_location.append(location)
time.sleep(3)

#scraping the company_name:-
company=driver.find_elements(By.XPATH, '//a[@Class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    company=i.text
    company_name.append(company)
time.sleep(3)

#scraping the job_description:-
description=driver.find_elements(By.XPATH,"//div[@Class='ellipsis job-description']")
for i in description[0:10]:
    description=i.text
    job_description.append(description)
time.sleep(3)

# creating the dataframe from the scraped data and taking only first 10 jobs:-
JOB=pd.DataFrame({"job_title":job_title,"job_location":job_location,"company_name":company_name,"job_description":job_description})
JOB

,job_title,job_location,company_name,job_description
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Deloitte,ETL: Having minimum 2+ years of experience in ...
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,This role will be a part of Survey Solutions a...
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent,Qualifications Skills: BE/ BTech degree in Com...
3,Staff Data Scientist,Bangalore/Bengaluru,Walmart,Outlined below are the required minimum qualif...
4,Data Scientist,"Bangalore/ Bengaluru, Karnataka",Tata Consultancy Services (TCS),JD for Data Scientist: . MFG domain experience...
5,Hiring For Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Hyde...",Tata Consultancy Services (TCS),Roles and Responsibilities Role: Data Scientis...
6,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Delhi / NC...",Infogain,"Roles and Responsibilities Conceptualize, desi..."
7,Director/Senior Director - Data Science,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Axtria India,Familiarity with cloud technology such as AWS ...
8,Manager/Senior Manager - Data Science,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Axtria India,"Ability to build scalable models using Python,..."
9,Data Scientist,Bangalore/Bengaluru,Ericsson,Experience in statistical learning: Predictive...

**Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:**

**first get the webpage https://www.naukri.com/ Enter “Data Scientist” in “Skill,Designations,Companies” field . Then click the search button. Then apply the location filter and salary filter by checking the respective boxes Then scrape the data for the first 10 jobs results you get. Finally create a dataframe of the scraped data.**

In [177]:
driver=webdriver.Edge(r"D:\Greeshma\OneDrive - Infosys Limited\Desktop\msedgedriver.exe")
time.sleep(3)
#opening the website on automated browser page
url = "https://www.naukri.com/"
driver.get(url)

#entring desingnation and location as per question
desingnation=driver.find_element(By.CLASS_NAME,"suggestor-input")
desingnation.send_keys('Data Scientist')

#Clicking the search button:-
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()
time.sleep(10)

location_checkbox = driver.find_element(By.XPATH, "//label[@for='chk-Delhi / NCR-cityTypeGid-']//i")
location_checkbox.click()
time.sleep(3)

slry_box = driver.find_element(By.XPATH, "//label[@for='chk-3-6 Lakhs-ctcFilter-']//i")
slry_box.click()
time.sleep(3)

#Creating empty lists for scraping data and use the scraped data to make DataFrame:-
job_title=[]
job_location=[]
company_name=[]
job_description=[]


#Scraping the job-titles:-
title=driver.find_elements(By.XPATH,"//a[@Class='title ellipsis']")
for i in title[0:10]:
    title=i.text
    job_title.append(title)
time.sleep(3)

#scraping the Location:-
location=driver.find_elements(By.XPATH,"//li[@Class='fleft br2 placeHolderLi location']//span[1]")
for i in location[0:10]:
    location=i.text
    job_location.append(location)
time.sleep(3)

#scraping the company_name:-
company=driver.find_elements(By.XPATH, '//a[@Class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    company=i.text
    company_name.append(company)
time.sleep(3)

#scraping the job_description:-
description=driver.find_elements(By.XPATH,"//div[@Class='ellipsis job-description']")
for i in description[0:10]:
    description=i.text
    job_description.append(description)
time.sleep(3)

# creating the dataframe from the scraped data and taking only first 10 jobs:-
JOB=pd.DataFrame({"job_title":job_title,"job_location":job_location,"company_name":company_name,"job_description":job_description})
JOB

,job_title,job_location,company_name,job_description
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,Experience : 0 to 2 years. Experience / Strong...
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,Some of the problem areas are Insights across ...
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,You will collaborate with the brightest techni...
3,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,Eligibility: Graduate with minimum 3 year expe...
4,Data Scientist,Delhi / NCR,Tata Consultancy Services (TCS),seeks guidance on only the most complex tasks
5,Lead Assistant Manager,Gurgaon/Gurugram,EXL,Experience in Marketing analytics . Good exper...
6,Intern,Gurgaon/Gurugram,Tower Research Capital,"Requirements : . A bachelor s, masters or PhD ..."
7,Data Scientist,Noida,Innovaccer,"Bachelors degree in Computer Science, Computer..."
8,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,Four-year college or university degree with fo...
9,MLOps - Data Scientist,Noida,Paytm,"1.Build, understand and evaluate data science ..."

**Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:**

**Brand Product Description Price The attributes which you have to scrape is ticked marked in the below image. To scrape the data you have to go through following steps:**

**Go to Flipkart webpage by url : https://www.flipkart.com/ Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.**

In [188]:
driver=webdriver.Edge(r"D:\Greeshma\OneDrive - Infosys Limited\Desktop\msedgedriver.exe")
time.sleep(3)
Url="https://www.flipkart.com/"
driver.get(Url)
time.sleep(3)

close_popup=driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']")
close_popup.click()

location=driver.find_element(By.XPATH,"//input[@Class='_3704LK']")
search=location.send_keys("sunglasses")
# clicking the search button:-
search_button=driver.find_element(By.CLASS_NAME, "_34RNph")
search_button.click()
time.sleep(10)

# creating empty lists for scraping data and use the scraped data to make DataFrame:-
Model_title = []
Brand_title = []
MRP_title =  []
Discount_title = []

start = 0
end = 3
for page in range(start,end):
    Model_Name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    time.sleep(3)
    for i in Model_Name:
        Model = i.text
        Model_title.append(Model)
    
    Brand_Name = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    time.sleep(3)
    for i in Brand_Name:
        Brand = i.text
        Brand_title.append(Brand)
    
    MRP = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    time.sleep(3)
    for i in MRP:
        MRP_Rs = i.text
        MRP_title.append(MRP_Rs)
    
    Discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    time.sleep(3)
    for i in Discount:
        discount = i.text
        Discount_title.append(discount)
        
    Next_Button = driver.find_element(By.XPATH,"//a//span[contains(text(),'Next')]")
    Next_Button.click()
    time.sleep(3)
    
print(len(Model_title),len(Brand_title),len(MRP_title),len(Discount_title))

df=pd.DataFrame({"Model":Model_title[:100],"Brand":Brand_title[:100],"MRP":MRP_title[:100],"Discount":Discount_title[:100]})
df

120 117 120 119

,Model,Brand,MRP,Discount
0,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹284,81% off
1,ROYAL SON,Mirrored Aviator Sunglasses (55),₹398,73% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹499,44% off
3,BKGE,"Polarized, UV Protection Retro Square Sunglass...",₹149,85% off
4,Elligator,"UV Protection, Mirrored Wayfarer Sunglasses (54)",₹109,91% off
...,...,...,...,...
95,NuVew,"by Lenskart Polarized, UV Protection Round Sun...",₹403,77% off
96,VINCENT CHASE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹873,65% off
97,VINCENT CHASE,UV Protection Aviator Sunglasses (58),₹873,56% off
98,SUNBEE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹293,77% off
99,Fair-x,"Gradient, UV Protection Sunglass",₹219,78% off

**Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps:**

**First get the webpage https://www.flipkart.com/ Enter “iphone 11” in “Search” field . Then click the search button. You will reach to the below shown webpage As shown in the above page you have to scrape the tick marked attributes.These are:**

**Rating Review summary Full review You have to scrape this data for first 100 reviews.**

In [205]:
driver=webdriver.Edge(r"D:\Greeshma\OneDrive - Infosys Limited\Desktop\msedgedriver.exe")
time.sleep(3)
Url="https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market"
driver.get(Url)
time.sleep(10)

Ratings = []
Review = []
Full_Review = []

start = 0
end = 11
for page in range(start,end):
    Rating_title = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in Rating_title:
        rating = i.text
        Ratings.append(rating)
    
    Review_title = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in Review_title:
        review = i.text
        Review.append(review)
    
    Full_review_title = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in Full_review_title:
        ful_review = i.text
        Full_Review.append(ful_review)
        
    Next_Button = driver.find_element(By.XPATH,"//a//span[contains(text(),'Next')]")
    Next_Button.click()
    time.sleep(20)

print(len(Ratings),len(Review),len(Full_Review))

df=pd.DataFrame({"Ratings":Ratings[:100],"Review":Review[:100],"Full_Review":Full_Review[:100]})
df.head(30)

102 105 105

,Ratings,Review,Full_Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
7,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
8,5,Highly recommended,What a camera .....just awesome ..you can feel...
9,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
10,5,Fabulous!,This is my first iOS phone. I am very happy wi...
11,5,Classy product,Best and amazing product.....phone looks so pr...
12,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
13,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
14,4,Good choice,So far it’s been an AMAZING experience coming ...
15,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
16,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
17,5,Highly recommended,"Amazing camera quality as expected, battery al..."
18,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
19,5,Perfect product!,It is just awesome mobile for this price from ...
20,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
21,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
22,5,Terrific,Really worth of money. i just love it. It is t...
23,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
24,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
25,5,Must buy!,Best Apple iPhone that i have bought at a very...
26,5,Super!,It’s been 7 years I was waiting for an income ...
27,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
28,5,Classy product,We are on apple ecosystem for almost eight yea...
29,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

**Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:**

**Brand Product Description Price As shown in the below image, you have to scrape the tick marked attributes.**

In [206]:
driver=webdriver.Edge(r"D:\Greeshma\OneDrive - Infosys Limited\Desktop\msedgedriver.exe")
time.sleep(3)
Url="https://www.flipkart.com/"
driver.get(Url)
time.sleep(3)

close_popup=driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']")
close_popup.click()

location=driver.find_element(By.XPATH,"//input[@Class='_3704LK']")
search=location.send_keys("sneakers")
# clicking the search button:-
search_button=driver.find_element(By.CLASS_NAME, "_34RNph")
search_button.click()
time.sleep(10)

Brand=[]
Product_Description=[]
Price=[]

start = 0
end = 3
for page in range(start,end):
    Brand_title = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand_title:
        brand = i.text
        Brand.append(brand)
    
    Prod_Desc_title = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Prod_Desc_title:
        product_description = i.text
        Product_Description.append(product_description)
        
    price_title = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_title:
        price = i.text
        Price.append(price)
    
    Next_Button = driver.find_element(By.XPATH,"//a//span[contains(text(),'Next')]")
    Next_Button.click()
    time.sleep(10)
        
print(len(Brand),len(Product_Description),len(Price))

df=pd.DataFrame({"Brand":Brand[:100],"Product_Description":Product_Description[:100],"Price":Price[:100]})
df.head(30)

120 114 120

,Brand,Product_Description,Price
0,World Wear Footwear,Latest Exclusive Affordable Collection of Tren...,₹279
1,SFR,Mid-Top Combo Pack of 02 Pairs Lace-ups Traine...,₹379
2,Labbin,Sneakers For Men,₹349
3,PUMA,Hustle V2 Sneakers For Men,"₹1,379"
4,BIRDE,Combo Pack of 2 Casual Shoes Sneakers For Men,₹479
5,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹249
6,PUMA,Hustle V2 Sneakers For Men,"₹1,379"
7,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹399
8,BRUTON,Modern Trendy Shoes Sneakers For Men,₹229
9,BIRDE,Combo Pack Of 2 Casual Shoes Sneakers For Men,₹499
10,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹399
11,kardam&sons,Sneakers For Women,₹449
12,Kraasa,Fashion and Stylish Soft Ultralight Lace Up Sn...,₹299
13,K' Footlance,Hustle V2 Sneakers For Men,₹299
14,PUMA,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...","₹1,379"
15,aadi,Sneakers For Men,₹299
16,RapidBox,2 Combo Sneaker Shoes Sneakers For Men,₹549
17,BRUTON,Hustle V2 Sneakers For Men,₹399
18,PUMA,HRXLB-2B Sneakers For Men,"₹1,379"
19,HRX by Hrithik Roshan,2 Combo Sneaker Shoes Sneakers For Men,"₹1,109"
20,BRUTON,Stylish & Trending Outdoor Walking Comfortable...,₹399
21,WHITE WALKERS,Sneakers For Men,₹399
22,HIGHLANDER,HRXLB-2C Sneakers For Men,₹398
23,HRX by Hrithik Roshan,Stylish & Trending Outdoor Walking Comfortable...,"₹1,047"
24,WHITE WALKERS,Sneakers For Men,₹399
25,Layasa,2 Combo Sneaker Shoes Sneakers For Men,₹299
26,BRUTON,Fashionable Canvas Casual Partywear Outdoor Sn...,₹399
27,kardam&sons,Buzz Sneakers For Men,₹339
28,PUMA,Men White Urban Street Athleisure Shoes Sneake...,"₹1,374"
29,HRX by Hrithik Roshan,Sneakers For Men,"₹1,047"

**Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:**

In [207]:
driver=webdriver.Edge(r"D:\Greeshma\OneDrive - Infosys Limited\Desktop\msedgedriver.exe")
time.sleep(3)
Url="https://www.amazon.in/"
driver.get(Url)
time.sleep(3)

location=driver.find_element(By.XPATH,"//input[@id='twotabsearchtextbox']")
search=location.send_keys("Laptop")
# clicking the search button:-
search_button=driver.find_element(By.XPATH, "//input[@id='nav-search-submit-button']")
search_button.click()
time.sleep(10)

cpu = driver.find_element(By.XPATH,"//li[@aria-label='Intel Core i7']//i[@Class='a-icon a-icon-checkbox']")
cpu.click()

Title = []
Ratings = []
Price = []

Title_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in Title_tags:
    title = i.text
    Title.append(title)
    
Rating_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in Rating_tags:
    rating = i.text
    Ratings.append(rating)
    
Price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in Price_tags:
    price = i.text
    Price.append(price)
    
print(len(Title),len(Ratings),len(Price))

df=pd.DataFrame({"Title":Title[:10],"Ratings":Ratings[:10],"Price":Price[:10]})
df

24 26 32

                                               Title Ratings     Price
0  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...      18    98,990
1  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...      68    70,990
2  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...       6    79,990
3  Acer Predator Helios Neo 16 Gaming Laptop 13th...      10  1,29,990
4  HP Envy x360 12th Gen Intel Core i7-13.3 inch(...     492  1,03,990
5  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...     326    84,999
6  Dell G15-5530 Gaming Laptop, Intel Core i7-136...      37  1,31,860
7  HP Victus Gaming Latest 12th Gen Intel Core i7...     163  1,01,278
8  Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....      66    85,990
9  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...       4    93,990

**Q8: Write a python program to scrape data for Top 1000 Quotes of All Time. The above task will be done in following steps: 1.First get the webpage https://www.azquotes.com/ 2. Click on Top Quotes 3. Than scrap a) Quote b) Author c) Type Of Quote**

In [209]:
driver=webdriver.Edge(r"D:\Greeshma\OneDrive - Infosys Limited\Desktop\msedgedriver.exe")
time.sleep(3)
Url="https://www.azquotes.com/"
driver.get(Url)
time.sleep(3)
Topquotes=driver.find_element(By.XPATH,"//a[contains(text(),'Top Quotes')]")
Topquotes.click()

Quote = []
Author = []
Type_of_quote = []

# scraping filtered Quote from the given page

quo=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quo[0:1000]:
    ti=i.text
    Quote.append(ti)
    
# scraping Author from the given page

Aut=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Aut[0:1000]:
    rat=i.text
    Author.append(rat)
    
# scraping Description from given page

desc=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in desc[0:1000]:
    de=i.text
    Type_of_quote.append(de)

    
FIL_DATA = pd.DataFrame({
    'Quote':Quote[0:1000],
    'Author':Author[0:1000],
    'Type_of_quote':Type_of_quote[0:1000]})

FIL_DATA

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: MicrosoftEdge=114.0.1823.37)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00007FF61FD3B2A2+63826]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF61FCCC532+772578]
	(No symbol) [0x00007FF61FA7CC1C]
	(No symbol) [0x00007FF61FA5671E]
	(No symbol) [0x00007FF61FAE2E8F]
	(No symbol) [0x00007FF61FAF78BF]
	(No symbol) [0x00007FF61FADEDB3]
	(No symbol) [0x00007FF61FAB3BCE]
	(No symbol) [0x00007FF61FAB2DA5]
	(No symbol) [0x00007FF61FAB4344]
	Microsoft::Applications::Events::ILogManager::DispatchEventBroadcast [0x00007FF61FF11439+1308425]
	(No symbol) [0x00007FF61FB2E818]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF61FC18221+34513]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF61FC10445+2293]
	Microsoft::Applications::Events::ILogManager::DispatchEventBroadcast [0x00007FF61FF10053+1303331]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF61FCD4C08+20344]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF61FCD1224+5524]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF61FCD131C+5772]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF61FCC4F31+742369]
	BaseThreadInitThunk [0x00007FF94B6055A0+16]
	RtlUserThreadStart [0x00007FF94BF8485B+43]


**Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/. This task will be done in following steps: First get the webpage https://www.jagranjosh.com/ Then You have to click on the GK option Then click on the List of all Prime Ministers of India Then scrap the mentioned data and make the DataFrame**

In [228]:
driver=webdriver.Edge(r"D:\Greeshma\OneDrive - Infosys Limited\Desktop\msedgedriver.exe")
time.sleep(3)
Url="https://www.jagranjosh.com/"
driver.get(Url)
time.sleep(15)

# pop1=driver.find_element(By.XPATH,"//span[contains(text(),'Close']")
# pop1.click()
# time.sleep(3)

GK=driver.find_element(By.XPATH,"//a[contains(text(),'GK')]")
GK.click()
time.sleep(15)



List_PM=driver.find_element(By.XPATH,"//a[contains(text(),'List of all Prime Ministers of India')][1]")
List_PM.click()
time.sleep(15)

Name=[]
Born_dead=[]
Term=[]
Remark=[]


#Xpath of all data name,born,term,remarks
name=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
born_Dead=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
term_of_office=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p[1]')
remarks=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')

#Create List of all data
Name=[i.text for i in name]
Born_Dead=[i.text for i in born_Dead]
Term_of_office=[i.text for i in term_of_office]
Remarks=[i.text for i in remarks]

df=pd.DataFrame({
    'Name':Name,
    'Born_Dead':Born_Dead,
    'Term_of_office':Term_of_office,
    'Remarks':Remarks
})
df

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[contains(text(),'List of all Prime Ministers of India')][1]"}
  (Session info: MicrosoftEdge=114.0.1823.37)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00007FF61FD3B2A2+63826]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF61FCCC532+772578]
	(No symbol) [0x00007FF61FA7CC1C]
	(No symbol) [0x00007FF61FAC0BBC]
	(No symbol) [0x00007FF61FAC0D47]
	(No symbol) [0x00007FF61FAFAC27]
	(No symbol) [0x00007FF61FADF01F]
	(No symbol) [0x00007FF61FAB4B91]
	(No symbol) [0x00007FF61FAF7FD1]
	(No symbol) [0x00007FF61FADEDB3]
	(No symbol) [0x00007FF61FAB3BCE]
	(No symbol) [0x00007FF61FAB2DA5]
	(No symbol) [0x00007FF61FAB4344]
	Microsoft::Applications::Events::ILogManager::DispatchEventBroadcast [0x00007FF61FF11439+1308425]
	(No symbol) [0x00007FF61FB2E818]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF61FC18221+34513]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF61FC10445+2293]
	Microsoft::Applications::Events::ILogManager::DispatchEventBroadcast [0x00007FF61FF10053+1303331]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF61FCD4C08+20344]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF61FCD1224+5524]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF61FCD131C+5772]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF61FCC4F31+742369]
	BaseThreadInitThunk [0x00007FF94B6055A0+16]
	RtlUserThreadStart [0x00007FF94BF8485B+43]

**Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name ,Description and Price) from https://www.motor1.com/ **

In [219]:
driver=webdriver.Edge(r"D:\Greeshma\OneDrive - Infosys Limited\Desktop\msedgedriver.exe")
time.sleep(3)
Url="https://www.motor1.com/ "
driver.get(Url)
driver.maximize_window()
time.sleep(10)

search=driver.find_element(By.XPATH,"//input[@class='m1-search-panel-input m1-search-form-text']")
search.send_keys('50 most expensive cars')
time.sleep(3)

searchbutton=driver.find_element(By.XPATH,"//button[@class='m1-search-panel-button m1-search-form-button-animate icon-search-svg']")
searchbutton.click()
time.sleep(3)

Click_d=driver.find_element(By.XPATH,"//a[contains(text(),'50 Most Expensive Cars In The World')]")
Click_d.click()
time.sleep(3)

#Car Name
name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
name=[i.text for i in name[0:50]]

#Car price
price=driver.find_elements(By.XPATH,'//div[@class="postBody description e-content"]/p/strong')
price=[i.text for i in price[0:50]]

#Car Descriptipons
description=driver.find_elements(By.XPATH,'//div[@class="postContent content-wrapper"]/div/p')
Description=[i.text for i in description]
x=Description[4:]

des=[]
for i in range(0,99,2):
    if i%2==0:
        des.append(x[i])
        
df=pd.DataFrame({
    "Car_Name":name,
    "Description":des,
    "Price":price
})
df

,Car_Name,Description,Price
0,De Tomaso P72,The De Tomaso P72 is basically the definition ...,Price: $1.3 Million
1,Ferrari LaFerrari,"At $1.4 million new, the Ferrari LaFerrari is ...",Price: $1.4 Million
2,Pagani Huayra,Inarguably one of the prettiest cars on this l...,Price: $1.4 Million
3,McLaren Elva,The McLaren Elva is one of the latest addition...,
4,Czinger 21C,"You might not know the name Czinger yet, but t...",Price: $1.7 Million
5,Ferrari Monza,"Much like the roof-less McLaren Elva, the Ferr...",Price: $1.7 Million
6,Gordon Murray T.33,The second and slightly more affordable superc...,Price: $1.7 Million
7,Koenigsegg Gemera,"One of two Koenigsegg models on this list, the...",Price: $1.7 Million
8,Zenvo TSR-S,"Hailing from Denmark, the Zenvo TSR-S debuted ...",Price: $1.7 Million
9,Hennessey Venom F5,"The Hennessey Venom GT was a record-breaker, t...",Price: $1.7 Million
10,Bentley Bacalar,"With just 12 total units produced, the Bentley...",Price: $1.8 Million
11,Hispano Suiza Carmen Boulogne,To call the Hispano Suiza Carmen Boulogne beau...,Price: $1.9 Million
12,Bentley Mulliner Batur,The electric onslaught is coming. Bentley says...,Price: $1.9 Million
13,Deus Vayanne,The Deus Vayanne may not be a household name (...,Price: $2.0 Million
14,SSC Tuatara,"Although initially cloaked in controversy, SSC...",Price: $2.0 Million
15,Lotus Evija,With a new Emira sports car and an Eletre elec...,Price: $2.0 Million*
16,Aston Martin Vulcan,"As with a few other cars on this list, the Ast...",Price: $2.1 Million
17,Delage D12,You may have heard of Delage before. In the ea...,Price: $2.3 Million
18,McLaren Speedtail,What would you pay for the fastest production ...,Price: $2.3 Million
19,Rimac Nevera,The Rimac Nevera takes the title of most expen...,Price: $2.3 Million
20,Pagani Utopia,"First came the Zonda, then the Huayra, and now...",Price: $2.4 Million
21,Pininfarina Battista,"Aptly named after the company’s founder, Batti...",Price: $2.5 Million
22,Ferrari FXX K Evo,"Sure, you could buy a normal LaFerrari (which ...",Price: $2.5 Million
23,Gordon Murray T.50,"If the name Gordon Murray sounds familiar, it’...",Price: $2.6 Million
24,Lamborghini Countach,"The name Countach may be iconic, but is it wor...",Price: $2.6 Million
25,Mercedes-AMG Project One,Mercedes has promised a production version of ...,Price: $2.6 Million
26,Aston Martin Victor,The folks at Aston Martin know a thing or two ...,Price: $2.7 Million
27,Hennessey Venom F5 Roadster,The same Hennessey Venom F5 hypercar we all kn...,Price: $3.0 Million
28,Koenigsegg Jesko,"The Koenigsegg Jesko, apart from being the fas...",$3.0 Million
29,Aston Martin Valkyrie,The upcoming Aston Martin hybrid hypercar hasn...,Price: $3.0 Million
30,W Motors Lykan Hypersport,Dubai-based W Motors shocked the world with it...,Price: $3.2 Million
31,McLaren Solus,"One seat, 829 horsepower, and a top speed of o...",Price: $3.4 Million
32,Pagani Huayra Roadster BC,"Following Pagani’s past playbook, a roadster v...",$3.5 Million
33,Bugatti Chiron Pur Sport,Another showstopper from the Geneva Motor Show...,Price: $3.5 Million
34,Lamborghini Sian,"In several ways, the Sian represents a bridge ...",Price: $3.6 Million
35,Koenigsegg CC850,The Koenigsegg CC850 was a surprise to be sure...,Price: $3.6 million
36,Bugatti Chiron Super Sport 300+,"Earlier this year, Bugatti captured the collec...",Price: $3.7 Million
37,Lamborghini Veneno,Lamborghini built just 14 examples of the Aven...,Price: $3.9 Million
38,Bugatti Bolide,Produced in extremely limited numbers atop the...,Price: $4.5 Million
39,Bugatti Mistral,The Bugatti Mistral sends the iconic W16 engin...,Price: $4.7 Million
40,Pagani Huayra Imola,Even though the new Utopia marks the next big ...,Price: $5.0 Million
41,Bugatti Divo,"Among Bugatti’s recently debuted vehicles, the...",Price: $5.4 Million
42,SP Automotive Chaos,SP Automotive (short for Spyros Panopoulos) is...,Price: $5.8 Million
43,Pagani Codalunga,The long list of pricey (new) Paganis ends wit...,Price: $6.4 Million
44,Mercedes-Maybach Exelero,"Like many others before it, the Mercedes-Benz ...",Price: $7.4 Million
45,Bugatti Centodieci,Bugatti debuted the Centodieci at last year’s ...,Price: $8.0 Million
46,Bugatti Chiron Profilée,While it may not look that different from a no...,Price: $9.0 Million
47,Rolls-Royce Sweptail,"Rolls-Royce, expectedly, takes two of the top ...",Price: $10.8 Million
48,Bugatti La Voiture Noire,"With a price tag of $13.4 million, the one-off...",Price: $12.8 Million
49,Rolls-Royce Boat Tail*,Rolls-Royce is back in the business of coachbu...,Price: $13.4 Million